= form_for @recycling_center do |f|
  = render 'errors'
  %p
    = f.label :name
    = f.text_field :name
  %p
    = f.label :street
    = f.text_field :street
  %p
    = f.label :city
    = f.text_field :city
  %p
    = f.label :state
    = f.select :state,
      options_for_select(us_states), prompt: '-- Select a State --'
  %p
    = f.label :zip
    = f.text_field :zip
  %p
    = f.label :telephone
    = f.text_field :telephone
  %p
    = f.label :hours
    = f.text_field :hours
  %p
    = f.label :aluminum_price, "Aluminum Price"
    = f.text_field :aluminum_price
  %p
    = f.label :paper_price, "Paper Price"
    = f.text_field :paper_price
  %p
    = f.label :plastic_price, "Plastic Price"
    = f.text_field :plastic_price
  %p
    = f.label :glass_price, "Glass Price"
    = f.text_field :glass_price
  %p
    = f.submit 'Save'
