<h1>Enter a New Recycling Center</h1>
<%= form_for @recycling_center do |f| %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :street %>
    <%= f.text_field :street %>
  </p>

  <p>
    <%= f.label :city %>
    <%= f.text_field :city %>
  </p>

  <p>
    <%= f.label :state %>
    <%= f.select :state,
      options_for_select(us_states), prompt: '-- Select a State --' %>
  </p>

  <p>
    <%= f.label :zip %>
    <%= f.text_field :zip %>
  </p>

  <p>
    <%= f.label :telephone %>
    <%= f.text_field :telephone %>
  </p>

  <p>
    <%= f.label :hours %>
    <%= f.text_field :hours %>
  </p>

  <p>
    <%= f.label :aluminum_price, "Aluminum Price" %>
    <%= f.text_field :aluminum_price %>
  </p>

  <p>
    <%= f.label :paper_price, "Paper Price" %>
    <%= f.text_field :paper_price %>
  </p>

  <p>
    <%= f.label :plastic_price, "Plastic Price" %>
    <%= f.text_field :plastic_price %>
  </p>

  <p>
    <%= f.label :glass_price, "Glass Price" %>
    <%= f.text_field :glass_price %>
  </p>

  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>
