<h1>Enter a New Recycling Center</h1>
<%= form_for @recycling_center do |recycling_center| %>
  <p>
    <%= recycling_center.label :name %>
    <%= recycling_center.text_field :name %>
  </p>

  <p>
    <%= recycling_center.label :street %>
    <%= recycling_center.text_field :street %>

  <p>
    <%= recycling_center.label :city %>
    <%= recycling_center.text_field :city %>
  </p>

  <p>
    <%= recycling_center.label :state %>
    <%= recycling_center.select :state,
        options_for_select(us_states) %>
  </p>

  <p>
    <%= recycling_center.label :zip %>
    <%= recycling_center.text_field :zip %>
  </p>

  <p>
    <%= recycling_center.label :telephone %>
    <%= recycling_center.text_field :telephone %>
  </p>

  <p>
    <%= recycling_center.label :hours %>
    <%= recycling_center.text_field :hours %>
  </p>

  <p>
    <%= recycling_center.label :aluminum_price, "Aluminum Price" %>
    <%= recycling_center.text_field :aluminum_price %>
  </p>

  <p>
    <%= recycling_center.label :paper_price, "Paper Price" %>
    <%= recycling_center.text_field :paper_price %>
  </p>

  <p>
    <%= recycling_center.label :plastic_price, "Plastic Price" %>
    <%= recycling_center.text_field :plastic_price %>
  </p>

  <p>
    <%= recycling_center.label :glass_price, "Glass Price" %>
    <%= recycling_center.text_field :glass_price %>
  </p>

  <p>
    <%= recycling_center.button 'Save' %>
  </p>
<% end %>
