.container
  .jumbotron
    %h1= @recycling_center.name

    %h2 Address:
    %p= @recycling_center.street
    %p= "#{@recycling_center.city}, #{@recycling_center.state} #{@recycling_center.zip}"

    %h2 Phone Number:
    %p= @recycling_center.telephone

    %h2 Hours:
    %p= @recycling_center.hours

    %h2 Aluminum Price:
    %p= @recycling_center.aluminum_price && "$%01.2f" % @recycling_center.aluminum_price

    %h2 Paper Price:
    %p= @recycling_center.paper_price && "$%01.2f" % @recycling_center.paper_price

    %h2 Plastic Price:
    %p= @recycling_center.plastic_price && "$%01.2f" % @recycling_center.plastic_price

    %h2 Glass Price:
    %p= @recycling_center.glass_price && "$%01.2f" % @recycling_center.glass_price

    %p= link_to "Edit", edit_recycling_center_path, class: 'btn btn-primary'
