!!!
%html
  %head
    %title Recycling Prices
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %h1.main-title
      = link_to 'Recycling Prices', root_path
    %h3.text-center Find recycling centers with the best redemption prices
    - flash.each do |name, msg|
      = content_tag :div, msg, class: name

    = yield

    .row
      .col-sm-12
        %p.small.text-center Send feedback to dev at ekmathison dot com
